<form action='/recipes/<%=@recipe.id%>' method='post'>
  <input id="hidden" type="hidden" name="_method" value="patch">
  <b>NAME: <input id="name" type="text" name="name"></b><br />
  <b>INGREDIENTS: <input id="ingredients" type="text" value="<%=@recipe.ingredients%>" name="ingredients"></b><br />
  <b>COOK TIME:<input id="cook_time" type="text" name="cook_time"></b><br />
  <button type='submit' value='submit'>Submit</button>
</form>
