
<h1> Create A New Recipe! </h1>
<form action="/recipes" method="post">
<b>NAME: <input type="text" name="name"></b><br />
<b>INGREDIENTS: <input type="text" name="ingredients"></b><br />
<b>COOK TIME:<input type="text" name="cook_time"></b><br />
<b><input type="submit" name="submit" id="submit">

 </form>
